<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="wowApiEndpoint" behaviorConfiguration="webHttpBehavior"
        address="http://us.battle.net/api/wow" 
        binding="webHttpBinding" 
        contract="ConsoleApplication2.IRealmStatus" />
    </client>
  </system.serviceModel>
</configuration>
